{% if settings.cf09_imp %}
<div class="cf09-container cf09-mobile cf-mobile-only">
      <div class="cf09-row">
        <div class="cf09-row-item">
          <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
          <g fill-rule="nonzero" fill="none">
              <rect fill="#FAD274" x="1.944" y="1.944" width="23.056" height="23.056" rx="11.528"/>
              <g fill="#2E4736">
                  <path d="M11.528 23.056C5.16 23.056 0 17.895 0 11.528 0 5.16 5.161 0 11.528 0c6.367 0 11.528 5.161 11.528 11.528 0 6.367-5.161 11.528-11.528 11.528zm0-22.186C5.642.87.87 5.642.87 11.528c0 5.886 4.772 10.658 10.658 10.658 5.886 0 10.658-4.772 10.658-10.658C22.186 5.642 17.414.87 11.528.87z"/>
                  <path d="m17.078 7.977-6.26 6.533-3.269-3.13a.943.943 0 1 0-1.304 1.362l3.951 3.782a.943.943 0 0 0 1.333-.028l6.912-7.214a.943.943 0 1 0-1.361-1.305h-.002z"/>
              </g>
          </g>
        </svg> 
        <p>100 Day Returns</p>
        </div>
        <div class="cf09-row-item">
          <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
            <g fill-rule="nonzero" fill="none">
                <rect fill="#FAD274" x="1.944" y="1.944" width="23.056" height="23.056" rx="11.528"/>
                <g fill="#2E4736">
                    <path d="M11.528 23.056C5.16 23.056 0 17.895 0 11.528 0 5.16 5.161 0 11.528 0c6.367 0 11.528 5.161 11.528 11.528 0 6.367-5.161 11.528-11.528 11.528zm0-22.186C5.642.87.87 5.642.87 11.528c0 5.886 4.772 10.658 10.658 10.658 5.886 0 10.658-4.772 10.658-10.658C22.186 5.642 17.414.87 11.528.87z"/>
                    <path d="m17.078 7.977-6.26 6.533-3.269-3.13a.943.943 0 1 0-1.304 1.362l3.951 3.782a.943.943 0 0 0 1.333-.028l6.912-7.214a.943.943 0 1 0-1.361-1.305h-.002z"/>
                </g>
            </g>
          </svg> 
          <p>Lifetime Warranty</p>
        </div>
      </div>
      <div class="cf09-row">
        <div class="cf09-row-item">
          <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
            <g fill-rule="nonzero" fill="none">
                <rect fill="#FAD274" x="1.944" y="1.944" width="23.056" height="23.056" rx="11.528"/>
                <g fill="#2E4736">
                    <path d="M11.528 23.056C5.16 23.056 0 17.895 0 11.528 0 5.16 5.161 0 11.528 0c6.367 0 11.528 5.161 11.528 11.528 0 6.367-5.161 11.528-11.528 11.528zm0-22.186C5.642.87.87 5.642.87 11.528c0 5.886 4.772 10.658 10.658 10.658 5.886 0 10.658-4.772 10.658-10.658C22.186 5.642 17.414.87 11.528.87z"/>
                    <path d="m17.078 7.977-6.26 6.533-3.269-3.13a.943.943 0 1 0-1.304 1.362l3.951 3.782a.943.943 0 0 0 1.333-.028l6.912-7.214a.943.943 0 1 0-1.361-1.305h-.002z"/>
                </g>
            </g>
          </svg> 
          <p>Made to Last</p>
        </div>
        <div class="cf09-row-item">
          <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
            <g fill-rule="nonzero" fill="none">
                <rect fill="#FAD274" x="1.944" y="1.944" width="23.056" height="23.056" rx="11.528"/>
                <g fill="#2E4736">
                    <path d="M11.528 23.056C5.16 23.056 0 17.895 0 11.528 0 5.16 5.161 0 11.528 0c6.367 0 11.528 5.161 11.528 11.528 0 6.367-5.161 11.528-11.528 11.528zm0-22.186C5.642.87.87 5.642.87 11.528c0 5.886 4.772 10.658 10.658 10.658 5.886 0 10.658-4.772 10.658-10.658C22.186 5.642 17.414.87 11.528.87z"/>
                    <path d="m17.078 7.977-6.26 6.533-3.269-3.13a.943.943 0 1 0-1.304 1.362l3.951 3.782a.943.943 0 0 0 1.333-.028l6.912-7.214a.943.943 0 1 0-1.361-1.305h-.002z"/>
                </g>
            </g>
          </svg> 
          <p>Original Product</p>
        </div>
      </div>
</div>
{% endif %}
