<div class="cf25-container">
        <div class="cf25-dropdown cf25-dropdown-hidden">
          <div class="cf25-dropdown-selected">
            <div class="cf25-dropdown-selected-item"></div>
            <div class="cf25-dropdown-caret">
              <svg width="1600px" height="1600px" version="1.1" viewBox="0 0 882 519" xmlns="http://www.w3.org/2000/svg">
                <g fill="#334537" stroke="#334537" stroke-miterlimit="10" stroke-width="8" transform="matrix(1, 0, 0, 1, -159.108597, -337.936646)">
                  <path transform="scale(12.632)" d="m47.5 62.007-31.82-31.82"></path>
                  <path transform="scale(12.632)" d="m44.693 64.813 34.627-34.626"></path>
                </g>
              </svg>
            </div>
          </div>
          <div class="cf25-dropdown-options">
            <div class="cf25-quantity">
              <div class="cf25-quantity-item">
                <div class="cf25-quantity-num" data-val="1">1</div>
                <div class="cf25-savings"></div>
              </div>
              <div class="cf25-quantity-item">
                <div class="cf25-quantity-num" data-val="2">2</div>
                <div class="cf25-savings">Save 5%</div>
              </div>
              <div class="cf25-quantity-item">
                <div class="cf25-quantity-num" data-val="3">3</div>
                <div class="cf25-savings">Save 10%</div>
              </div>
              <div class="cf25-quantity-item">
                <div class="cf25-quantity-num" data-val="4">4</div>
                <div class="cf25-savings">Save 15%</div>
              </div>
              <div class="cf25-quantity-item cf25-quantity-other">
                <div class="cf25-quantity-num" data-val="5">Other</div>
                <div class="cf25-savings">Save 15%</div>
              </div>
            </div>
          </div>
        </div>
</div>